@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    font-family: "Poppins";
    margin: 0;
    padding:0;
    background: url(fondo.jpg);
    background-clip: border-box;
    background-attachment: fixed;
    background-size: cover;
}
header{
    position:relative;
    max-width: 1200px;
    margin:20px auto;
    padding:10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 12px 15px rgba(25,25 ,255 ,.52);
}
.logo{
    color:#069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav{
    float:right;
}
.limpiarDesborde{
    clear: both;
}
nav ul{
    margin:0;
    padding:0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin:10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active, nav ul li a:hover {
    background: #069370;
    color: #fff;
    transition:0.4s;
}

/* RESPONSIVE*/
@media (max-width:768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor:pointer;
        text-align:center;
        font-size: 30px;
        color: #069370;
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle:before{
        content:'\f0c9';
        font-family: "Font Awesome 5 Pro";
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content:'\f00d';
        font-family: "Font Awesome 5 Pro";
        line-height: 40px;
    }
    nav{
        display: none;
    }
    nav.active{
        width: 100%;
        display: block;
    }
    nav.active ul{
        display: block;
    }
}

 